<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

    <!--环境的配置-->
    <properties resource="configuration.properties"/>

    <settings>
        <!--设置日志工厂-->
        <setting name="logImpl" value="STDOUT_LOGGING"/>
    </settings>
    <!--别名-->
    <typeAliases>
        <!--类型别名-->
        <typeAlias type="pojo.user.User" alias="User"/>
        <!--包别名-->
        <package name="pojo.user"/>
    </typeAliases>
    <environments default="development">
        <environment id="development">
            <!--
                transactionManager :事务管理器
                type="JDBC" :采用JDBC事务管理机制
            -->
            <transactionManager type="JDBC"/>
            <!--
                dataSource:数据源配置
                type="POOLED":是否采用连接池技术
            -->

            <dataSource type="POOLED">
                <property name="driver" value="${driver}"/>
                <property name="url" value="${url}"/>
                <property name="username" value="${username}"/>
                <property name="password" value="${password}"/>
            </dataSource>
        </environment>

    </environments>
    <mappers>
        <mapper resource="UserMapper.xml"/>
        <mapper resource="StudentMapper.xml"/>
    </mappers>
</configuration>